apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: quay.io/kurs/redis:latest          # Vald enligt uppgiften
        ports:
          - containerPort: 6379
        env:
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: redis-secret
                key: REDIS_PASSWORD
        # Redis kräver password i kommandot, därför REQUIRED
        command: ["redis-server", "--requirepass", "$(REDIS_PASSWORD)"]
        volumeMounts:
          - name: data
            mountPath: /data
        livenessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 20
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
              - redis-cli
              - -a
              - $(REDIS_PASSWORD)
              - ping
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: redis-data