apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-frontend
  labels:
    app: guestbook
    component: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: guestbook-frontend
  template:
    metadata:
      labels:
        app: guestbook-frontend
    spec:
      containers:
      - name: nginx
        image: ghcr.io/john-svantesson/ocp-guestbook-john/guestbook-frontend:latest
        ports:
        - containerPort: 8080
        imagePullPolicy: Always   # så den hämtar vår nya image direkt
        resources:
          requests:
            memory: "32Mi"
            cpu: "50m"
          limits:
            memory: "64Mi"
            cpu: "100m"